@import "tailwindcss";

@theme {
  --color-primary: #f4ba3e;
}

@layer base {
  body {
    background-color: var(--color-zinc-900);
    color: var(--color-zinc-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
  }
}

/* Custom Scrollbar for better aesthetic */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: var(--color-zinc-700); 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-zinc-600); 
}
